<h1>Listing bank_transactions</h1>


<%= render 'balance_chart', :bank_transactions => @bank_transactions %>

<%= render 'list', :bank_transactions => @bank_transctions, :bank_account => @bank_account %>
